// Breakpoints
$bp-desktop-fullHD: 1900px;
$bp-desktop-large: 1500px;
$bp-desktop: 1200px;
$bp-laptop: 992px;
$bp-tablet: 768px;
$bp-mobile: 576px;
$bp-mobile-400: 400px;
$bp-mobile-375: 375px;
$bp-mobile-360: 360px;


// Fonts
$font-primary: 'Roboto', sans-serif;

// Colors
$white: #ffffff;
$purple-dark: #3E0E70;


$grey-main-background: #d6d6d6;
